@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Playwrite+NO:wght@100..400&display=swap');
¨

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* COLORS */
:root {
    --baby-pink: #ff99c8ff;
    --lemon-chiffon: #fcf6bdff;
    --frosted-mint: #d0f4deff;
    --icy-blue: #a9def9ff;
    --mauve: #e4c1f9ff;
    --parchment: #edede9ff;
    --dust-grey: #d6ccc2ff;
    --linen: #f5ebe0ff;
    --powder-petal: #e3d5caff;
    --almond-silk: #d5bdafff;
}

/* BODY */
body {
    background-color: var(--almond-silk);
    color: var(--baby-pink);
    font-family: "Leckerli One", cursive;
}

/* HEADER */
header {
    text-align: center;
    padding: 1rem;
    background-color: var(--powder-petal);
    font-family: "Playwrite NO", cursive;
}

h1 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.navbar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    background: var(--baby-pink);
    color: aliceblue;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    border-radius: 5px;
    border: var(--frosted-mint) solid 4px;
}

.navbar a:hover {
    background-color: var(--mauve);
    border: var(--frosted-mint) solid 4px;
}

/* START */
.start {
    text-align: center;
    padding: 2rem;
    background-color: var(--linen);
}

.start-img {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.start-img img {
    width: 30%;
    border: var(--frosted-mint) solid 10px;
}

/* ABOUT */
.about {
    padding: 2rem;
}
.about h2{
    text-align: center;
    padding: 10px;
    color: var(--frosted-mint);
    background: var(--baby-pink);
}
.row{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--frosted-mint);
    padding: 20px;
}

.about-text{
    max-width: 500px;
}

.large-section{
    text-align: center;
    margin-top: 2rem;
    background: var(--frosted-mint);
    padding: 20px;
}
.large-section img {
   width: 100%;
   max-width: 600px;
   background: #ccc;
}
.large-section p{
margin-top: 1rem;
/* margin-left: 420px;
width: 700px; */
}


/* GRID */
.series-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
    background: var(--frosted-mint);
}

/* GRID STYLING */

 .series {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: 0.3ms;
}
.series img{
    width: 700px;
    height: 400px;
}

.series:hover {
    transform: scale(1.05);
}



/* BLINDBOX */
.blindbox {
    text-align: center;
    padding: 3rem;
}
.blindbox img{
    width: 300px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.blindbox h2{
    margin-top: 1rem;
    letter-spacing: 2px;
}
.blindbox p{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
button{
    background: var(--frosted-mint);
    color: var(--baby-pink);
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
    background: var(--icy-blue);
}